<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">

    <table class="table table-stripe">
        <thread>
            <tr>
                <th>Most clicked shortUrl</th>
            </tr>
        </thread>
        <tbody class="mt-2">
                <tr>
                    <td><a href="<%= shortUrl.longUrl %>"><%= shortUrl.longUrl %></a></td>
                    <td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
                    <td><%= shortUrl.clicks %></td>
                </tr>
        </tbody>
    </table>
</div>
</body>
</html>